@page
@model Crud.Pages_Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align: center">Deletar um cliente</h1>
<br/>
<h3 style="text-align: center">Tem certeza de que deseja deletar este cliente? </h3>
<div>
    <hr />
    <dl class="row" style="text-align: center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Gender)
        </dd>
    </dl>
    
    <form method="post" style="text-align: center">
        <input type="hidden" asp-for="Clients.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="http://localhost:5233/Clients" class="btn btn-danger">Retornar ao início</a>
    </form>
</div>
