@page
@model Crud.Pages_Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clients</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Gender)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Clients.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
