@page
@model Crud.Pages_Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center">Detalhes do cliente</h1>

<div>
    <hr />
    <dl class="row" style="text-align: center">
        <dt class="col-sm-2" style="text-align: center">
            @Html.DisplayNameFor(model => model.Clients.Name)
        </dt>
        <dd class="col-sm-10" style="text-align: center">
            @Html.DisplayFor(model => model.Clients.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Gender)
        </dd>
    </dl>
</div>
<div style="text-align: center">
    <button type="button" class="btn btn-warning btn-sm" id="edit"><a id="padrao" asp-page="./Edit" asp-route-id="@Model.Clients?.Id">Edit</a></button> |
    <a href="http://localhost:5233/Clients" class="btn btn-danger">Retornar ao início</a>
</div>
