@page
@model Crud.Pages_Clients.IndexModel

@{
    ViewData["Title"] = "Clientes";
}

<h1 class="text-center mb-2">CRUD - Clientes</h1><br/>

<p class="text-center mb-3">
    <a href="http://localhost:5233/Clients/Create" class="btn btn-primary">Adicionar novo cliente</a>
</p><br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm"><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></button>
                <button type="button" class="btn btn-info btn-sm"><a asp-page="./Details" asp-route-id="@item.Id">Details</a></button> |
                <button type="button" class="btn btn-danger btn-sm"><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
