@page
@model Crud.Pages_Exclusive.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align: center">Deletar</h1>

<h3 style="text-align: center">Tem certeza que deseja deletar essa promoção?</h3>
<div>

    <hr />
    <dl class="row text-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.Movie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.StartExclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.StartExclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.EndExclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.EndExclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.Gender)
        </dd>
    </dl>
    
    <form method="post" style="text-align: center">
        <input type="hidden" asp-for="Exclusive.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a href="http://localhost:5233/Exclusive" class="btn btn-danger">Retornar ao início</a>
    </form>
</div>
