@page
@model Crud.Pages_Exclusive.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center">Detalhes da promoção</h1>

<div>
    <hr />
    <dl class="row text-center">
        <dt class="col-sm-2 text-center">
            @Html.DisplayNameFor(model => model.Exclusive.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.Movie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.StartExclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.StartExclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.EndExclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.EndExclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exclusive.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exclusive.Gender)
        </dd>
    </dl>
</div>
<div style="text-align: center">
    <button type="button" class="btn btn-warning btn-sm" id="edit"><a id="padrao" asp-page="./Edit" asp-route-id="@Model.Exclusive?.Id">Edit</a></button>|
     <a href="http://localhost:5233/Exclusive" class="btn btn-danger">Retornar ao início</a>
</div>
