@page
@model Crud.Pages_Exclusive.IndexModel

@{
    ViewData["Title"] = "Exclusivos";
}

<h1 class="text-center">CRUD - Promoções</h1><br/>

<p class="text-center">
        <a href="http://localhost:5233/Exclusive/Create" class="btn btn-primary">Adicionar nova promoção</a>
</p><br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exclusive[0].Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exclusive[0].StartExclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exclusive[0].EndExclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exclusive[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exclusive) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartExclusive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndExclusive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" id="edit"><a id="padrao" asp-page="./Edit" asp-route-id="@item.Id">Edit</a></button>
                <button type="button" class="btn btn-info btn-sm" id="edit"><a id="padrao" asp-page="./Details" asp-route-id="@item.Id">Details</a></button>
                <button type="button" class="btn btn-danger btn-sm" id="edit"><a id="padrao" asp-page="./Delete" asp-route-id="@item.Id">Delete</a></button>

            </td>
        </tr>
}
    </tbody>
</table>
